<mat-card class="loginCard">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Pixelbooks Admin</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="login">
      <mat-form-field>
        <!--<label for="username">Username</label>-->
        <input matInput type="text" id="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field >
        <!--<label for="pass">Password</label>-->
        <input matInput type="password" id="pass" placeholder="Password">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="buttonSignin">SignIn</button>
  </mat-card-content>
</mat-card>
